$color-green-primary: rgb(41, 204, 150);
$color-green-secondary: rgba(41, 204, 150, 0.15);
$color-green-background-light: rgb(238, 246, 242);
$color-green-background-dark: rgba(208, 240, 228, 1);
$color-orange-primary: rgb(250, 175, 64);
$color-light-orange: rgba(254, 243, 226, 1);
$color-orange-background-light: rgba(252, 246, 238, 1);
$color-paper-background: #e7ebf0;

$color-white: white;
$color-grey: grey;
$color-black: rgba(51, 51, 51, 1);

$font-semi-bold: 500;

p {
	margin: 0px;
}

.text-semi-bold {
	font-weight: $font-semi-bold;
}

.text-secondary {
	color: $color-grey;
}

.App {
	padding: 20px 40px;
	background-color: $color-white;
	color: $color-black;

	.quotes-page-header {
		border-bottom: 1px solid $color-grey;
		padding-bottom: 20px;
		margin-bottom: 20px;

		.header-buttons-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			.filter-buttons-container {
				display: flex;
				flex-direction: row;
				align-items: center;

				.button {
					margin-left: 20px;

					&.selected {
						background-color: $color-green-primary;
						color: white;
					}
				}
			}
		}
	}
}

.quotes {
	margin-top: 20px;

	.quote-container {
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		margin-bottom: 20px;
		padding: 20px;
		background-color: $color-green-background-light; // v1

		&:hover {
			background-color: #e0f3ea;
		}

		&.expanded {
			&:hover {
				background-color: $color-green-background-light;
			}
		}

		&.selected {
			border: 2px solid $color-green-primary;
		}

		.quote-expanded-container {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid $color-grey;
		}

		.quote-item-info-container {
			display: flex;
			align-items: center;
			flex-direction: row;
		}

		.quote-header-container {
			width: 100%;
			width: 100%;
			padding: 20px 0px;

			.select-quote-button-container {
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
			}

			.quote-info-title {
				color: $color-grey;
				margin-bottom: 10px;
			}
		}

		.product-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 150px;
			width: 100%;
			padding: 20px 0px;
			border-radius: 10px;
			margin: 20px 0px;
			background-color: $color-green-background-dark; 

			.product-info-title {
				color: $color-grey;
				margin-bottom: 10px;
			}

			.image-container {
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					height: 100px;
					width: 100px;
					object-fit: cover;
					border-radius: 50%;
				}
			}

			.product-description-container {
				overflow: auto;
				height: 150px;
			}
		}
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	border: none;
	outline: none;
	border-radius: 3px;
	font-weight: 600;
	cursor: pointer;
	height: 35px;
	max-width: max-content;
}

.button-primary {
	background-color: $color-orange-primary;
	color: $color-white;

	&:hover {
		background-color: rgba(225, 157, 57, 1);
	}
}

.button-secondary {
	border: 1px solid $color-green-primary;
	color: $color-green-primary;
	background-color: $color-white;

	&:hover {
		background-color: $color-green-primary;
		color: $color-white;
	}
}

.button-action {
	background-color: $color-white;
	border: 1px solid $color-orange-primary;
	color: $color-orange-primary;

	&:hover {
		background-color: $color-orange-primary;
		color: $color-white;
	}
}